/*
Special class and id based styles
*/

.social-media a {
    color: black;
}

.social-media li {
    margin: 0% 1%;
    width: 4%;
}

.half {
    width: 49%;
    display: inline-block;
    vertical-align: middle;
}

.project-text {
    width: 69%;
    display: inline-block;
    vertical-align: middle;
    text-align: justify;
    overflow: visible;
}

.project-img {
    width: 29%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    overflow: visible;
}

.flip {
    -webkit-transform:  rotate(180deg);
    -moz-transform:  rotate(180deg);
    -ms-transform:  rotate(180deg);
    -o-transform:  rotate(180deg);
    transform:  rotate(180deg);
}

.flip > div {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

@media (max-aspect-ratio: 1/1) {
    /*
    css changes for tall displays (e.g. phones) 
    */
    li, .social-media li, .descriptors li, .nav li {
        width: 40%;
        margin: 1%;
    }
    section {
        width: 90%;
        margin: 0% 5%;
    }
    .half, .project-text, .project-img {
        width: 99%;
    }

    .flip {
        -webkit-transform:  rotate(0deg);
        -moz-transform:  rotate(0deg);
        -ms-transform:  rotate(0deg);
        -o-transform:  rotate(0deg);
        transform:  rotate(0deg);
    }
    
    .flip > div {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}