/*
Style for text-containing elements
*/
html {
    --NormalFont: Arial, Helvetica, sans-serif;
    --HeaderFont: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: var(--NormalFont);
}

h1, h2, h3, h4, header li, header ol, header ul, header div, button {
    font-family: var(--HeaderFont);
    text-align: center;
    align-content: center;
}

a {
    text-decoration: none;
    color:forestgreen;
}